<nav-bar></nav-bar>
<div>

  <form name="addEventForm" ng-submit='events.addEvent()'>
    Create an event: <br>
    <input type="text" ng-model="events.new.name" placeholder="...add an event" required>

    Add a date or a deadline: <br>
    <input type="date" ng-model="events.new.date">
    <input type="submit" value="Add event">
  </form>

  <div id="event-list">
    <ul class="event" ng-repeat="event in events.eventList | orderBy: 'date' ">
      <li>
        <a ng-click="events.zoomIn(event)">{{event.name}}</a>
        <span>{{event.date.substring(0, 10)}}</span>
        <span><button ng-click="events.removeEvent(event)">Delete</button></span>
          <ul class="task" ng-repeat="task in event.tasks | filter: {done: false} | limitTo: 3 track by $index">
              <li>{{task.todo}}</li>
          </ul>
          <p ng-click="events.zoomIn(event)">...more</p>
      </li>
    </ul>
  </div>

</div>